.container {
    align-items: center;
    display: flex;
    min-height: 130px;
    justify-content: space-between;
}

.completedLabel {
    border-radius: 36px;
    background: #000000;
    padding: 5px 13px;
}

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        width: 90%;
    }
}
